In [15]:
import sys, os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
sys.path.append(os.path.join(os.path.dirname('Demand_class'), '..', 'src'))
from Demand_class import Demand
plt.style.use('seaborn-darkgrid')

In [3]:
nat_dem = Demand()

In [5]:
path = '../data/demand_lower_48'

In [6]:
nat_dem.load_data(path)

In [7]:
df = nat_dem.dataframe

In [8]:
df.head()

                 Time  Megawatthours
0 2015-07-01 02:00:00         335153
1 2015-07-01 03:00:00         333837
2 2015-07-01 04:00:00         398386
3 2015-07-01 05:00:00         388954
4 2015-07-01 06:00:00         392487

In [9]:
nat_dem.create_time_featues()

In [10]:
df = nat_dem.time_features_df
df.head()

                 Time  ...  Day_of_year
0 2015-07-01 02:00:00  ...          182
1 2015-07-01 03:00:00  ...          182
2 2015-07-01 04:00:00  ...          182
3 2015-07-01 05:00:00  ...          182
4 2015-07-01 06:00:00  ...          182

[5 rows x 8 columns]

In [11]:
split_date = '2020-03-01 00:00:00'

In [28]:
def scale_split(df, train_test_idx=None, scaler=None):
        df = df.copy()
        df = df.set_index('Time', drop=True)
        
        if isinstance(train_test_idx, str):
            idx = df.index.get_loc(train_test_idx)
        else:
            idx = train_test_idx
        print(idx)
        train, test = df[:idx], df[idx:] 
        
        if scaler:
            sclr = scaler
            train = sclr.fit_transform(train)
            test = sclr.transform(test)
        print(train)
        print(test)
#         X_train = train[:, 1:]
#         y_train = train[:, 0]
#         X_test = test[:, 1:]
#         y_test = test[:, 0]
#         return X_train, X_test, y_train, y_test

In [29]:
scale_split(df, train_test_idx=split_date)

40919
                     Megawatthours  ...  Day_of_year
Time                                ...
2015-07-01 02:00:00         335153  ...          182
2015-07-01 03:00:00         333837  ...          182
2015-07-01 04:00:00         398386  ...          182
2015-07-01 05:00:00         388954  ...          182
2015-07-01 06:00:00         392487  ...          182
2015-07-01 07:00:00         404647  ...          182
2015-07-01 08:00:00         422227  ...          182
2015-07-01 09:00:00         442131  ...          182
2015-07-01 10:00:00         464371  ...          182
2015-07-01 11:00:00         491512  ...          182
2015-07-01 12:00:00         518043  ...          182
2015-07-01 13:00:00         540514  ...          182
2015-07-01 14:00:00         560701  ...          182
2015-07-01 15:00:00         576400  ...          182
2015-07-01 16:00:00         587405  ...          182
2015-07-01 17:00:00         594477  ...          182
2015-07-01 18:00:00         595242  ...          182
2015-07-01 19:00:00         586317  ...          182
2015-07-01 20:00:00         572656  ...          182
2015-07-01 21:00:00         554682  ...          182
2015-07-01 22:00:00         543332  ...          182
2015-07-01 23:00:00         520871  ...          182
2015-07-02 00:00:00         485722  ...          183
2015-07-02 01:00:00         453284  ...          183
2015-07-02 02:00:00         429199  ...          183
2015-07-02 03:00:00         407007  ...          183
2015-07-02 04:00:00         395194  ...          183
2015-07-02 05:00:00         387654  ...          183
2015-07-02 06:00:00         390157  ...          183
2015-07-02 07:00:00         401643  ...          183
...                            ...  ...          ...
2020-02-28 18:00:00         445359  ...           59
2020-02-28 19:00:00         457840  ...           59
2020-02-28 20:00:00         467560  ...           59
2020-02-28 21:00:00         469762  ...           59
2020-02-28 22:00:00         465337  ...           59
2020-02-28 23:00:00         452854  ...           59
2020-02-29 00:00:00         438124  ...           60
2020-02-29 01:00:00         425943  ...           60
2020-02-29 02:00:00         415221  ...           60
2020-02-29 03:00:00         409635  ...           60
2020-02-29 04:00:00         407759  ...           60
2020-02-29 05:00:00         409613  ...           60
2020-02-29 06:00:00         417609  ...           60
2020-02-29 07:00:00         431883  ...           60
2020-02-29 08:00:00         447014  ...           60
2020-02-29 09:00:00         454833  ...           60
2020-02-29 10:00:00         452877  ...           60
2020-02-29 11:00:00         446306  ...           60
2020-02-29 12:00:00         437910  ...           60
2020-02-29 13:00:00         427799  ...           60
2020-02-29 14:00:00         417852  ...           60
2020-02-29 15:00:00         408989  ...           60
2020-02-29 16:00:00         403454  ...           60
2020-02-29 17:00:00         404431  ...           60
2020-02-29 18:00:00         412023  ...           60
2020-02-29 19:00:00         427856  ...           60
2020-02-29 20:00:00         441982  ...           60
2020-02-29 21:00:00         447877  ...           60
2020-02-29 22:00:00         447038  ...           60
2020-02-29 23:00:00         438923  ...           60

[40919 rows x 7 columns]
                     Megawatthours  ...  Day_of_year
Time                                ...
2020-03-01 00:00:00         427034  ...           61
2020-03-01 01:00:00         414549  ...           61
2020-03-01 02:00:00         405844  ...           61
2020-03-01 03:00:00         401647  ...           61
2020-03-01 04:00:00         399975  ...           61
2020-03-01 05:00:00         401491  ...           61
2020-03-01 06:00:00         406081  ...           61
2020-03-01 07:00:00         415670  ...           61
2020-03-01 08:00:00         425939  ...           61
2020-03-01 09:00:00         428877  ...           61
2020-03-01 10:00:00         424426  ...           61
2020-03-01 11:00:00         416040  ...           61
2020-03-01 12:00:00         407387  ...           61
2020-03-01 13:00:00         399719  ...           61
2020-03-01 14:00:00         393519  ...           61
2020-03-01 15:00:00         388350  ...           61
2020-03-01 16:00:00         385828  ...           61
2020-03-01 17:00:00         390218  ...           61
2020-03-01 18:00:00         399689  ...           61
2020-03-01 19:00:00         416445  ...           61
2020-03-01 20:00:00         432207  ...           61
2020-03-01 21:00:00         437347  ...           61
2020-03-01 22:00:00         432326  ...           61
2020-03-01 23:00:00         418760  ...           61
2020-03-02 00:00:00         401623  ...           62
2020-03-02 01:00:00         386570  ...           62
2020-03-02 02:00:00         375588  ...           62
2020-03-02 03:00:00         369170  ...           62
2020-03-02 04:00:00         367742  ...           62
2020-03-02 05:00:00         371538  ...           62
...                            ...  ...          ...
2021-03-20 15:00:00         377793  ...           79
2021-03-20 16:00:00         371070  ...           79
2021-03-20 17:00:00         369177  ...           79
2021-03-20 18:00:00         372746  ...           79
2021-03-20 19:00:00         377810  ...           79
2021-03-20 20:00:00         387595  ...           79
2021-03-20 21:00:00         399249  ...           79
2021-03-20 22:00:00         402463  ...           79
2021-03-20 23:00:00         399263  ...           79
2021-03-21 00:00:00         389826  ...           80
2021-03-21 01:00:00         377119  ...           80
2021-03-21 02:00:00         366604  ...           80
2021-03-21 03:00:00         360027  ...           80
2021-03-21 04:00:00         356711  ...           80
2021-03-21 05:00:00         356675  ...           80
2021-03-21 06:00:00         360647  ...           80
2021-03-21 07:00:00         369839  ...           80
2021-03-21 08:00:00         381827  ...           80
2021-03-21 09:00:00         392071  ...           80
2021-03-21 10:00:00         396031  ...           80
2021-03-21 11:00:00         392491  ...           80
2021-03-21 12:00:00         386420  ...           80
2021-03-21 13:00:00         380329  ...           80
2021-03-21 14:00:00         372634  ...           80
2021-03-21 15:00:00         366173  ...           80
2021-03-21 16:00:00         363364  ...           80
2021-03-21 17:00:00         365016  ...           80
2021-03-21 18:00:00         371950  ...           80
2021-03-21 19:00:00         379932  ...           80
2021-03-21 20:00:00         390453  ...           80

[9260 rows x 7 columns]